{% extends "base.html" %}


{% block title %}
    主页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block introduction %}
    <h3 class="introduction"><b>
        TL的博客
    </b></h3>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="container"></div>
                    </div>
                    <div class="panel-footer">近七日阅读量</div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        // 图表配置
        var options = {
            chart: { type: 'line' },
            title: { text: null },
            xAxis: { 
                categories: {{ dates|safe }},
                tickmarkPlacement: 'on',
                title: { text: '近七日阅读量' },
            },
            yAxis: {
                title: { text: null },
                labels:{ enabled:false },
                gridLineDashStyle: 'Dash',
            },
            series: [{
                name: '阅读量',
                data: {{ read_nums }},
                color:'#522e31',
                showInLegend: false,
            }],
            plotOptions: {line: {dataLabels: {enabled: true}}},
            credits: { enabled:false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}